{
	"presets": ["react", "env", "stage-0"], //stage-1是为了防止报错，
	"env": {
		"development": {
			"plugins": [
				"transform-decorators-legacy",
				"transform-class-properties",
				["react-transform", {
					"transforms": [{
						"transform": "react-transform-hmr",
						"imports": ["react"],
						"locals": ["module"]
					}]
				}],
				["import", [{"libraryName": "antd", "style": "css"}]]
			]
		}
	}
}